


*, ::before, ::after {
  box-sizing: border-box;
  /* border: 1px solid silver; */
  font-family: Tahoma, Geneva, Verdana, sans-serif
}


body {
  height: 100vh;
}
header {
  /* border: 2px solid red; */
  /* overflow:hidden; */
  height: auto;
  /* position: relative; */
}

#Heading, .tel {
  text-shadow: 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,1);
  /* border-top:  2px solid white; */
  vertical-align: middle;
  font-size: 1em;

}

nav {
  margin: 60px 15%;
  
  text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0),2px 2px 1px rgba(0,0,0,1);
  border-top:  2px solid white;
  border-bottom:  2px solid white;
  background: rgba(0,0,0,0.30);
  flex-wrap: nowrap;
  justify-content: center;

}

li {
  font-weight: 700;
}
.dropdown-menu {
  background: rgba(0,0,0,0.50);
}

main {
  /* display: grid;
  grid-template-columns: 4fr 1fr; */
  /* border: 2px solid; */
  margin-top: 1em;
  justify-content: space-around;
  background-color: silver - 50%;
}
.card {
  margin: 1em;
}

footer {
  /* border: 2px solid green; */

}

@media screen and (min-width: 700px) {
  #Heading {
      font-size: 28px;
  }
}       
@media screen and (min-width: 600px) and (max-width: 699px) {
  #Heading {
      font-size: 25px;
  }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
  #Heading {
      font-size: 21px;
  }
}
/* @media screen and (min-width: 300px) and (max-width: 499px) {
  #Heading {
      font-size: 14px;
  }
} */